$white: #ffffff;
$black: #000000;
$purple-100: #f8eeff;
$purple-600: #8b6990;
$purple-950: #301534;
$violet-600: #ad28eb;

@font-face {
  font-display: swap;
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/static/WorkSans-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/static/WorkSans-SemiBold.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Work Sans Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/static/WorkSans-Bold.woff2') format('woff2');
}

@mixin text-preset-1 {
  font-family: 'Work Sans Bold';
  font-size: clamp(2rem, 0.5687rem + 6.1069vw, 3.5rem);
  line-height: 1.2;
}

@mixin text-preset-2 {
  font-family: 'Work Sans SemiBold';
  font-size: 1.125rem;
  line-height: 1.2;
}

@mixin text-preset-3 {
  font-family: 'Work Sans Regular';
  font-size: 1rem;
  line-height: 1.5;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
h1,
p,
hr {
  margin: 0;
}

hr {
  border: 1px solid $purple-100;
}

body {
  background-image: url('./assets/images/background-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
  background-color: $purple-100;
  padding: 0 1.5rem;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: 48rem) {
    background-image: url('./assets/images/background-pattern-desktop.svg');
  }
}

.faq {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 32px 56px 0 rgba($color: #500076, $alpha: 0.1);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__title {
    @include text-preset-1();
    color: $purple-950;
  }

  &__details[open] {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__summary {
    color: $purple-950;
    font-family: 'Work Sans SemiBold';
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

    &:hover {
      color: $violet-600;
    }
  }

  &__answer {
    color: $purple-600;
    font-family: 'Work Sans';
    font-size: 0.875rem;
  }
}

details summary {
  list-style: none;
}

details summary::after {
  content: url('./assets/images/icon-plus.svg');
  height: 30px;
}

details[open] summary::after {
  content: url('./assets/images/icon-minus.svg');
  height: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
